/* 全局变量（间距，圆角，宽高）*/
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
/* margin-right:0 5 10 15 20 */
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
/* margin-bottom:5 10 15 20 */
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* margin-left:0 5 10 15 */
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
/* 边框圆角 */
.border-r-20 {
  border-radius: 20px;
}
.border-r-10 {
  border-radius: 10px;
}
.border-r-5 {
  border-radius: 5px;
}
.inline-block {
  display: inline-block;
}
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.red {
  color: #e60026;
}
.font-20 {
  font-size: 20px;
}
/* 全局 */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.justify-content-center {
  justify-content: center !important;
}
#app {
  background-color: #f2f2f2;
}
#app #login .app-login,
#app #register .app-register,
#app #qr .app-qr {
  background: #fff;
  width: 250px;
  height: 350px;
  border-radius: 4px;
}
.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.justify-content-flex {
  justify-content: flex-start;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.text-left {
  text-align: left;
}
/* 作者 */
.font-30 {
  font-size: 30px;
}
.font-20 {
  font-size: 20px;
}
.font-18 {
  font-size: 18px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px !important;
}
.blue {
  color: #5f5ff3;
}
.mv,
.vip,
.originType {
  color: red;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  display: inline;
  border-radius: 4px;
  border: 1px solid red;
  padding: 0px 3px;
  font-weight: 200;
}
.el-popover {
  min-width: 20px;
  padding: 10px 0px;
}
.popper__arrow {
  left: 50% !important;
  transform: translateX(-50%);
}
.el-slider__button {
  width: 10px;
  height: 10px;
  border: none;
  color: #f00;
  background-color: #f00;
}
.el-slider__bar {
  background-color: red;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.el-slider__runway {
  margin: 0px;
}
.align-items-end {
  align-items: flex-end;
}
.flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.el-table .title .cell.el-tooltip {
  display: flex;
  align-items: center;
}
.user-dropdown {
  width: 280px;
}
.text-center {
  text-align: center;
}
.el-table .current-play {
  color: red;
  font-weight: bold;
}
.el-tabs__header .el-tabs__nav-wrap::after {
  background-color: #fff;
}
body {
  color: #000;
}
.el-drawer {
  background-color: #00000000;
}
.selected-row {
  background-color: #000 !important;
}
.cursor {
  cursor: pointer;
}
.el-drawer__header {
  color: #fff;
}
