@font-face {
  font-family: "iconfont"; /* Project id 3841370 */
  src: url('//at.alicdn.com/t/c/font_3841370_bgqxm67xs2u.woff2?t=1672134899945') format('woff2'),
       url('//at.alicdn.com/t/c/font_3841370_bgqxm67xs2u.woff?t=1672134899945') format('woff'),
       url('//at.alicdn.com/t/c/font_3841370_bgqxm67xs2u.ttf?t=1672134899945') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow:before {
  content: "\e801";
}

.icon-red_love:before {
  content: "\e64e";
}

.icon-love:before {
  content: "\e799";
}

.icon-red_play:before {
  content: "\e647";
}

.icon-Play:before {
  content: "\e655";
}

.icon-play1:before {
  content: "\e6cf";
}

.icon-top_right:before {
  content: "\e600";
}

.icon-top_left:before {
  content: "\e601";
}

.icon-horn:before {
  content: "\e614";
}

.icon-search:before {
  content: "\e699";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-pifu:before {
  content: "\e62b";
}

.icon-down:before {
  content: "\e703";
}
