@font-face {
  font-family: "iconFont"; /* Project id 3841370 */
  src: url('//at.alicdn.com/t/c/font_3841370_za1mpj9x8k.woff2?t=1692237822320') format('woff2'),
       url('//at.alicdn.com/t/c/font_3841370_za1mpj9x8k.woff?t=1692237822320') format('woff'),
       url('//at.alicdn.com/t/c/font_3841370_za1mpj9x8k.ttf?t=1692237822320') format('truetype');
}

.iconFont {
  font-family: "iconFont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e60b";
}

.icon-nan:before {
  content: "\ea84";
}

.icon-nv:before {
  content: "\e60d";
}

.icon-user_revise:before {
  content: "\e603";
}

.icon-level:before {
  content: "\e629";
}

.icon-logout:before {
  content: "\e63d";
}

.icon-title-left:before {
  content: "\e617";
}

.icon-prev:before {
  content: "\e602";
}

.icon-next:before {
  content: "\ea82";
}

.icon-sound-start:before {
  content: "\e6f9";
}

.icon-sound-close:before {
  content: "\e6fa";
}

.icon-down-arrow:before {
  content: "\e801";
}

.icon-love-red:before {
  content: "\e64e";
}

.icon-play-red:before {
  content: "\ea83";
}

.icon-top_right:before {
  content: "\e600";
}

.icon-top_left:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e699";
}

.icon-setting:before {
  content: "\e68f";
}

.icon-love:before {
  content: "\e86f";
}

.icon-pause:before {
  content: "\e87c";
}

.icon-play:before {
  content: "\ea81";
}

.icon-skin:before {
  content: "\e62b";
}

.icon-down:before {
  content: "\e703";
}
